<!DOCTYPE html>
<html>


<head>
     <meta charset="UTF -8">
     <title>Cadastro e Registro</title>
</head>

<body>

      <form method="get" action="/pessoa/salvar"> 
      
      Nome: <input type="text" name="nome"/> <br>
      Preço: <input type="text" name="preco"/>
      Lançamento: <input type="text" name="lancamento"/> 
      Estilo: <input type="text" name="estilo"/> 

      
      
      
      <br>
      <input type="submit" value="Cadastrar"/> 
      
      </form>
      
      
</body>

</html>
